nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    
    
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
    transition: color 0.3s ease;


    
  
    &:hover {
      color: #ff4500; /* Change to your desired hover color */
    }
  }